:root {
    --blue-color: #1992D4;
    --content-color: #E2E8F0;
    --card-side-color: #F0B429;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/* Header Section */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.search {
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 20px;
}

.search input {
    border: none;
    background-color: rgb(82, 82, 82, 0.1);
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    height: 28px;
}

.search-icon {
    width: 25px;
}

#search-pfp {
    border-radius: 50%;
    width: 40px;
}

.search div {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-self: flex-start;
}

.user {
    display: flex;
    align-self: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
}

.user img {
    border-radius: 50%;
    width: 100px;
}

.links {
    align-self: center;
}

.links ul {
display: flex;
gap: 20px;
}

.links ul,
.links li {
    list-style-type: none;
}

.links button {
    background-color: var(--blue-color);
    border: none;
    border-radius: 30px;
    padding: 12px 28px;
}


/* Sidebar Section */

.sidebar {
    background-color: var(--blue-color);
    color: var(--white-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 20px 0 0 20px;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.title-sidebar {
    font-size: 1rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 5px;
}

.title-sidebar img {
    width: 50px;
}

.home-sidebar img,
.settings-sidebar img {
    width: 30px;
}

.sidebar ul {
    padding: 10px;
}

.sidebar ul > li {
    padding: 10px 0;
    list-style-type: none;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

/* Content Section */

.content {
    background-color: var(--content-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 40px 25px;
}

.project-container {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.head {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-container article {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
    gap: 20px;
}

.project-container .projects {
    padding: 20px;
    background: var(--white-color);
    border-left: 10px solid orange;
    border-radius: 10px;
    display: grid;
}

.projects > div:last-of-type {
    display: grid;
    grid-auto-flow: column;
    align-content: end;
    justify-content: end;
    gap: 10px;
}

.projects > div:first-line {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.projects img {
    width: 30px;
}

.announcements {
    grid-column: 3;
    display: flex;
    flex-direction: column;
}

.announcements article {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

.first-line {
    font-weight: bold;
    font-size: 18px;
}

.trending {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;

}

.trending article {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 20px;
    flex: 1;
    border-radius: 10px;
}

.trending article > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 25px;
    gap: 20px;
    font-size: 18px;
    padding-bottom: 20px;
    flex: 1;
}

.trending article > div > img {
    border-radius: 50%;
    width: 50px;
}